//ここにbuttonの装飾をまとめます
.button {
  background-color: white;
  color:            #525252;
  font-size:        1.1rem;
  padding:          .5rem 1.5rem;
  margin-bottom:    2rem;

  &.button_add_heroes:hover {
    color:            white;
    background-color: #42545C;
  }
}
