<h2>My Heroes</h2>
<!-- ヒーローリスト -->
<ul class="heroes">
  <!-- heroesプロパティを繰り返しで表示する -->
  <li *ngFor="let hero of heroes">
    <!-- ユーザーがボタンをクリックしたらonSelectメソッドが発火する -->
    <button type="button" (click)="onSelect(hero)" class="heroes__selectbutton">
      <span class="heroes__selectbutton--badge">{{ hero.id }}</span>
      <span [class.selected]="hero === selectedHero">{{ hero.name }}</span>
    </button>
  </li>
</ul>
<!-- クリックイベントの処理により表示/非表示の制御 -->
<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>id: {{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero Name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="Enter a name for the menu">
  </div>
</div>

