<h2>My Heroes</h2>

<!-- sectionとdetailの２つのクラスを定義する -->
<div class="heroes__search">
   <label for="new-hero">Hero name: </label>
   <input id="new-hero" #heroName/>
   <button type="button" class="heroes__search--add-button" (click)="add(heroName.value); heroName.value=''">Add hero</button>
</div>
<!-- ヒーローリスト -->
<div class="heroes__section detail">
 <ul class="detail__inner">
   <li *ngFor="let hero of heroes" class="detail__item">
     <a routerLink="/detail/{{ hero.id }}" class="detail__item--link">
       <span class="detail__item--badge">{{ hero.id }}</span>{{ hero.name }}
     </a>
     <button type="button" class="detail__item--delete-button" title="delete hero" (click)="delete(hero)">
     X
     </button>
   </li>
 </ul>
</div>


