.search__text--label {
  display:       block;
  font-weight:   bold;
  font-size:     1.2rem;
  margin-top:    1rem;
  margin-bottom: .5rem;

}
.search__text--box {
  padding:    .5rem;
  width:      100%;
  max-width:  600px;
  box-sizing: border-box;
  display:    block;


  &:focus {
    outline: #336699 auto 1px;
  }
}

.display__contents {
  list-style-type: none;
}

.display__container {
  > display__contents, > display__contents--link {

     border-bottom:   1px solid gray;
     border-left:     1px solid gray;
     border-right:    1px solid gray;
     display:         inline-block;
     width:           100%;
     max-width:       600px;
     padding:         .5rem;
     box-sizing:      border-box;
     text-decoration: none;
     color:           black;

     &:hover {
       background-color: #435A60;
       color:            white;
     }
  }
}

.display__container {
  margin-top:   0;
  padding-left: 0;
}
